<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello shakey</title>
    <link rel="stylesheet" href="static/index.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div style="background:grey;">
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="/">Hello Docker</a></li>
  <li role="presentation" ><a href="/" style="color: white" >Home</a></li>
  <li role="presentation" ><a href="{{ url_for('isinstance_manage.create_instance') }}" style="color: white;">Create Instance</a></li>
</ul>
</div>
<div>
    {% block content %}

    {% endblock %}
</div>

</body>
</html>